.categories {
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.category-container {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#discount {
    width: 30%;
    height: 200px;
    padding-bottom: 15px;
    
}

#handsaw {
    width: 65%;
    height: auto;
    padding-bottom: 15px;
    
}

#accesories {
    width: 30%;
    height: auto;
    padding-bottom: 15px;
    
}

#powertool {
    width: 30%;
    height: 200px;
    padding-bottom: 15px;
    
}

#cuttingtool {
    width: 30%;
    height: 200px;
    padding-bottom: 15px;
    
}